* {
  margin: 0;
  padding: 0
}

body{
    background-image: url('ai.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center, center;
    background-size: cover;
  }

div{
  text-align: center;
  margin-top: 90%;
  width: 100%
  }

a{
    font-size:9vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color:rgb(43, 43, 240)
  }
h1{
    font-size:5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: rgb(25, 25, 199);
  }

.fade-in:hover{
  color: yellow
}

.fade-in{
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

@-webkit-keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade{
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn{
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

@-o-keyframes fadeIn{
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

@-ms-keyframes fadeIn{
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

.login_form{
  text-align: center;
  margin-top: 15%;

}

.user{
  background: transparent;
  width: 200px;
  height: 30px;
  color: white;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;

}

.password{
  background: transparent;
  width: 200px;
  height:30px;
  color: white;
  font-size:20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.remember{
  background: transparent;
  width:20px;
  height:20px;
  border: 3px solid blueviolet;
}

.submit{
  background: transparent;
  width:85px;
  height:40px;
  border: 3px solid blueviolet;
  color: white;
  border-radius: 4px;
  font-size: 1.2vw;
  font-weight: bolder;
  opacity: 0.9
}

.submit:hover{
  color: yellow;
  background-color: blue;
  cursor: pointer;
}

.label_user{
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  opacity: 0.9
}

.label_password{
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  opacity: 0.9
}

.label_remember{
  color: white;
  font-size: 1.2vw;
  font-weight: bolder;
  opacity: 0.9
}

._url{
  color: red;
  font-size: 2vw;
  opacity: 0.9;
}

.title_chat{
  color: yellow;
}

._body{
  background-image: url('matrixblue.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center, center;
  background-size: cover;
}

#textInput {
  background: transparent;
  border: 3px solid blueviolet;
  border-radius: 4px;
  width: 350px;
  height: 40px;
  color: white;
  font-size: 1.2vw;
  font-weight: bolder;
}

#buttonInput{
  background: transparent;
  border-radius: 4px;
  width:80px;
  height:40px;
  border: 3px solid blueviolet;
  font-size: 1.0vw;
  color: yellow;
  font-weight: bolder;
  opacity: 0.9
}

.userText {
  color: white;
  font-family: monospace;
  font-size: 1.2vw;
  text-align: right;
  line-height: 30px;
}
.userText span {
  background: transparent;
  padding: 10px;
  border-radius: 2px;
}
.botText {
  color: yellow;
  font-family: monospace;
  font-size: 1.2vw;
  text-align: left;
  line-height: 30px;
}
.botText span {
  background: transparent;
  padding: 10px;
  border-radius: 2px;
}

.contact_form{
  background-image: url('matrixblue.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center, center;
  background-size: cover;
}

.logout{
  color: rgb(43, 43, 240);
  margin-top: 23%;
  font-size: 5vw;
}
.relogin{
  color: rgb(43, 43, 240);
  font-size: 2vw;
}
.relogin:hover{
  color: yellow
}

.index_logout{
  font-size: 2.5vw;
}
.index_logout:hover{
  color: yellow
}

._contact{
  text-align: center;
  margin-top: 8%;
}

.contact_head{
  color: yellow;
  font-size: 3vw;
  font-weight: bolder;
  opacity: 0.9
}

.contact_name{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._name{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.contact_email{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._email{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.contact_phone{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._phone{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.contact_enquires{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._enquires{
  background: transparent;
  color: yellow;
  width: 200px;
  height: 200px;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
  resize: vertical
}

.contact_submit:hover{
  color: yellow;
  background-color: blue;
  cursor: pointer
}

.contact_submit{
  background: transparent;
  width:100px;
  height:40px;
  border: 3px solid blueviolet;
  color: white;
  border-radius: 4px;
  font-size: 1.2vw;
  font-weight: bolder;
}

.backtochat{
  font-size:2vw
}
.backtochat:hover{
  color: yellow;
  font-weight: bolder
}

.donechatting{
  font-size: 2vw;
}
.donechatting:hover{
  color: yellow;
  font-weight: bolder
}

.after_message{
  margin-top: 20%
}

._after{
  margin-top: 5%;
}

.reg_name{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_name{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.reg_email{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_email{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.reg_pword{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_pword{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}



.reg_pword2{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_pword2{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.reg_submit:hover{
  color: yellow;
  background-color: blue;
  cursor: pointer
}

.reg_submit{
  background: transparent;
  width:110px;
  height:40px;
  border: 3px solid blueviolet;
  color: white;
  border-radius: 4px;
  font-size: 1.2vw;
  font-weight: bolder;
}

.reg{
  margin-top: 10%;
}

@viewport{
  zoom: 1.0;
  width: extend-to-zoom
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

/*mobile Medium */
@media only screen and (min-width: 375px) {
div{
  text-align: center;
  margin-top: 75%;
  width:100%
  }

a{
    font-size:9vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color:rgb(43, 43, 240)
  }

h1{
    font-size:5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: rgb(25, 25, 199);
  }

.login_form{
  text-align: center;
  margin-top: 15%;

}

.user{
  background: transparent;
  width: 200px;
  height: 30px;
  color: white;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;

}

.password{
  background: transparent;
  width: 200px;
  height:30px;
  color: white;
  font-size:20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.remember{
  background: transparent;
  width:20px;
  height:20px;
  border: 3px solid blueviolet;
}

.submit{
  background: transparent;
  width:85px;
  height:40px;
  border: 3px solid blueviolet;
  color: white;
  border-radius: 4px;
  font-size: 1.2vw;
  font-weight: bolder;
  opacity: 0.9
}

.submit:hover{
  color: yellow;
  background-color: blue;
  cursor: pointer;
}

.label_user{
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  opacity: 0.9
}

.label_password{
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  opacity: 0.9
}

.label_remember{
  color: white;
  font-size: 1.2vw;
  font-weight: bolder;
  opacity: 0.9
}

._url{
  color: red;
  font-size: 2vw;
  opacity: 0.9;
}

.title_chat{
  color: yellow;
}

._body{
  background-image: url('matrixblue.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center, center;
  background-size: cover;
}

#textInput {
  background: transparent;
  border: 3px solid blueviolet;
  border-radius: 4px;
  width: 350px;
  height: 40px;
  color: white;
  font-size: 1.2vw;
  font-weight: bolder;
}

#buttonInput{
  background: transparent;
  border-radius: 4px;
  width:80px;
  height:40px;
  border: 3px solid blueviolet;
  font-size: 1.0vw;
  color: yellow;
  font-weight: bolder;
  opacity: 0.9
}

.userText {
  color: white;
  font-family: monospace;
  font-size: 1.2vw;
  text-align: right;
  line-height: 30px;
}
.userText span {
  background: transparent;
  padding: 10px;
  border-radius: 2px;
}
.botText {
  color: yellow;
  font-family: monospace;
  font-size: 1.2vw;
  text-align: left;
  line-height: 30px;
}
.botText span {
  background: transparent;
  padding: 10px;
  border-radius: 2px;
}

.contact_form{
  background-image: url('matrixblue.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center, center;
  background-size: cover;
}

.logout{
  color: rgb(43, 43, 240);
  margin-top: 23%;
  font-size: 5vw;
}
.relogin{
  color: rgb(43, 43, 240);
  font-size: 2vw;
}
.relogin:hover{
  color: yellow
}

.index_logout{
  font-size: 2.5vw;
}
.index_logout:hover{
  color: yellow
}

._contact{
  text-align: center;
  margin-top: 8%;
}

.contact_head{
  color: yellow;
  font-size: 3vw;
  font-weight: bolder;
  opacity: 0.9
}

.contact_name{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._name{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.contact_email{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._email{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.contact_phone{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._phone{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.contact_enquires{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._enquires{
  background: transparent;
  color: yellow;
  width: 200px;
  height: 200px;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
  resize: vertical
}

.contact_submit:hover{
  color: yellow;
  background-color: blue;
  cursor: pointer
}

.contact_submit{
  background: transparent;
  width:100px;
  height:40px;
  border: 3px solid blueviolet;
  color: white;
  border-radius: 4px;
  font-size: 1.2vw;
  font-weight: bolder;
}

.backtochat{
  font-size:2vw
}
.backtochat:hover{
  color: yellow;
  font-weight: bolder
}

.donechatting{
  font-size: 2vw;
}
.donechatting:hover{
  color: yellow;
  font-weight: bolder
}

.after_message{
  margin-top: 20%
}

._after{
  margin-top: 5%;
}

.reg_name{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_name{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.reg_email{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_email{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.reg_pword{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_pword{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}



.reg_pword2{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_pword2{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.reg_submit:hover{
  color: yellow;
  background-color: blue;
  cursor: pointer
}

.reg_submit{
  background: transparent;
  width:110px;
  height:40px;
  border: 3px solid blueviolet;
  color: white;
  border-radius: 4px;
  font-size: 1.2vw;
  font-weight: bolder;
}

.reg{
  margin-top: 10%;
}
}

/*mobile large */
@media only screen and (min-width: 425px) {
div{
  text-align: center;
  margin-top: 65%;
  width: 100%
  }
a{
    font-size:9vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color:rgb(43, 43, 240)
  }
h1{
    font-size:5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: rgb(25, 25, 199);
  }

.login_form{
  text-align: center;
  margin-top: 15%;

}

.user{
  background: transparent;
  width: 200px;
  height: 30px;
  color: white;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;

}

.password{
  background: transparent;
  width: 200px;
  height:30px;
  color: white;
  font-size:20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.remember{
  background: transparent;
  width:20px;
  height:20px;
  border: 3px solid blueviolet;
}

.submit{
  background: transparent;
  width:85px;
  height:40px;
  border: 3px solid blueviolet;
  color: white;
  border-radius: 4px;
  font-size: 1.2vw;
  font-weight: bolder;
  opacity: 0.9
}

.submit:hover{
  color: yellow;
  background-color: blue;
  cursor: pointer;
}

.label_user{
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  opacity: 0.9
}

.label_password{
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  opacity: 0.9
}

.label_remember{
  color: white;
  font-size: 1.2vw;
  font-weight: bolder;
  opacity: 0.9
}

._url{
  color: red;
  font-size: 2vw;
  opacity: 0.9;
}

.title_chat{
  color: yellow;
}

._body{
  background-image: url('matrixblue.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center, center;
  background-size: cover;
}

#textInput {
  background: transparent;
  border: 3px solid blueviolet;
  border-radius: 4px;
  width: 350px;
  height: 40px;
  color: white;
  font-size: 1.2vw;
  font-weight: bolder;
}

#buttonInput{
  background: transparent;
  border-radius: 4px;
  width:80px;
  height:40px;
  border: 3px solid blueviolet;
  font-size: 1.0vw;
  color: yellow;
  font-weight: bolder;
  opacity: 0.9
}

.userText {
  color: white;
  font-family: monospace;
  font-size: 1.2vw;
  text-align: right;
  line-height: 30px;
}
.userText span {
  background: transparent;
  padding: 10px;
  border-radius: 2px;
}
.botText {
  color: yellow;
  font-family: monospace;
  font-size: 1.2vw;
  text-align: left;
  line-height: 30px;
}
.botText span {
  background: transparent;
  padding: 10px;
  border-radius: 2px;
}

.contact_form{
  background-image: url('matrixblue.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center, center;
  background-size: cover;
}

.logout{
  color: rgb(43, 43, 240);
  margin-top: 23%;
  font-size: 5vw;
}
.relogin{
  color: rgb(43, 43, 240);
  font-size: 2vw;
}
.relogin:hover{
  color: yellow
}

.index_logout{
  font-size: 2.5vw;
}
.index_logout:hover{
  color: yellow
}

._contact{
  text-align: center;
  margin-top: 8%;
}

.contact_head{
  color: yellow;
  font-size: 3vw;
  font-weight: bolder;
  opacity: 0.9
}

.contact_name{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._name{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.contact_email{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._email{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.contact_phone{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._phone{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.contact_enquires{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._enquires{
  background: transparent;
  color: yellow;
  width: 200px;
  height: 200px;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
  resize: vertical
}

.contact_submit:hover{
  color: yellow;
  background-color: blue;
  cursor: pointer
}

.contact_submit{
  background: transparent;
  width:100px;
  height:40px;
  border: 3px solid blueviolet;
  color: white;
  border-radius: 4px;
  font-size: 1.2vw;
  font-weight: bolder;
}

.backtochat{
  font-size:2vw
}
.backtochat:hover{
  color: yellow;
  font-weight: bolder
}

.donechatting{
  font-size: 2vw;
}
.donechatting:hover{
  color: yellow;
  font-weight: bolder
}

.after_message{
  margin-top: 20%
}

._after{
  margin-top: 5%;
}

.reg_name{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_name{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.reg_email{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_email{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.reg_pword{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_pword{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}



.reg_pword2{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_pword2{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.reg_submit:hover{
  color: yellow;
  background-color: blue;
  cursor: pointer
}

.reg_submit{
  background: transparent;
  width:110px;
  height:40px;
  border: 3px solid blueviolet;
  color: white;
  border-radius: 4px;
  font-size: 1.2vw;
  font-weight: bolder;
}

.reg{
  margin-top: 10%;
}
}

/*tablet format*/
@media only screen and (min-width: 768px) {
div{
  text-align: center;
  margin-top: 35%;
  width: 100%
  }

a{
    font-size:5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color:rgb(43, 43, 240)
  }
h1{
    font-size:3vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: rgb(25, 25, 199);
  }

.login_form{
  text-align: center;
  margin-top: 15%;

}

.user{
  background: transparent;
  width: 200px;
  height: 30px;
  color: white;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;

}

.password{
  background: transparent;
  width: 200px;
  height:30px;
  color: white;
  font-size:20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.remember{
  background: transparent;
  width:20px;
  height:20px;
  border: 3px solid blueviolet;
}

.submit{
  background: transparent;
  width:85px;
  height:40px;
  border: 3px solid blueviolet;
  color: white;
  border-radius: 4px;
  font-size: 1.2vw;
  font-weight: bolder;
  opacity: 0.9
}

.submit:hover{
  color: yellow;
  background-color: blue;
  cursor: pointer;
}

.label_user{
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  opacity: 0.9
}

.label_password{
  color: white;
  font-size: 2vw;
  font-weight: bolder;
  opacity: 0.9
}

.label_remember{
  color: white;
  font-size: 1.2vw;
  font-weight: bolder;
  opacity: 0.9
}

._url{
  color: red;
  font-size: 2vw;
  opacity: 0.9;
}

.title_chat{
  color: yellow;
}

._body{
  background-image: url('matrixblue.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center, center;
  background-size: cover;
}

#textInput {
  background: transparent;
  border: 3px solid blueviolet;
  border-radius: 4px;
  width: 350px;
  height: 40px;
  color: white;
  font-size: 1.2vw;
  font-weight: bolder;
}

#buttonInput{
  background: transparent;
  border-radius: 4px;
  width:80px;
  height:40px;
  border: 3px solid blueviolet;
  font-size: 1.0vw;
  color: yellow;
  font-weight: bolder;
  opacity: 0.9
}

.userText {
  color: white;
  font-family: monospace;
  font-size: 1.2vw;
  text-align: right;
  line-height: 30px;
}
.userText span {
  background: transparent;
  padding: 10px;
  border-radius: 2px;
}
.botText {
  color: yellow;
  font-family: monospace;
  font-size: 1.2vw;
  text-align: left;
  line-height: 30px;
}
.botText span {
  background: transparent;
  padding: 10px;
  border-radius: 2px;
}

.contact_form{
  background-image: url('matrixblue.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center, center;
  background-size: cover;
}

.logout{
  color: rgb(43, 43, 240);
  margin-top: 23%;
  font-size: 5vw;
}
.relogin{
  color: rgb(43, 43, 240);
  font-size: 2vw;
}
.relogin:hover{
  color: yellow
}

.index_logout{
  font-size: 2.5vw;
}
.index_logout:hover{
  color: yellow
}

._contact{
  text-align: center;
  margin-top: 8%;
}

.contact_head{
  color: yellow;
  font-size: 3vw;
  font-weight: bolder;
  opacity: 0.9
}

.contact_name{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._name{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.contact_email{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._email{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.contact_phone{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._phone{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.contact_enquires{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._enquires{
  background: transparent;
  color: yellow;
  width: 200px;
  height: 200px;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
  resize: vertical
}

.contact_submit:hover{
  color: yellow;
  background-color: blue;
  cursor: pointer
}

.contact_submit{
  background: transparent;
  width:100px;
  height:40px;
  border: 3px solid blueviolet;
  color: white;
  border-radius: 4px;
  font-size: 1.2vw;
  font-weight: bolder;
}

.backtochat{
  font-size:2vw
}
.backtochat:hover{
  color: yellow;
  font-weight: bolder
}

.donechatting{
  font-size: 2vw;
}
.donechatting:hover{
  color: yellow;
  font-weight: bolder
}

.after_message{
  margin-top: 20%
}

._after{
  margin-top: 5%;
}

.reg_name{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_name{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.reg_email{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_email{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.reg_pword{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_pword{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}



.reg_pword2{
  color: white;
  font-size: 1.5vw;
  font-weight: bolder;
}

._reg_pword2{
  background: transparent;
  width: 200px;
  height: 30px;
  color: yellow;
  font-size: 20px;
  border: 3px solid blueviolet;
  border-radius: 4px;
}

.reg_submit:hover{
  color: yellow;
  background-color: blue;
  cursor: pointer
}

.reg_submit{
  background: transparent;
  width:110px;
  height:40px;
  border: 3px solid blueviolet;
  color: white;
  border-radius: 4px;
  font-size: 1.2vw;
  font-weight: bolder;
}

.reg{
  margin-top: 10%;
}
}

/*laptop format*/
@media only screen and (min-width: 1000px) {
  div{
    text-align: center;
    margin-top: 20%; 
    width: 100%   
    }

  a{
      font-size:5vw;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bolder;
      text-decoration: none;
      color:rgb(43, 43, 240)
    }
  h1{
      font-size:3vw;
      font-family: Arial, Helvetica, sans-serif;
      font-weight:bold;
      color: rgb(25, 25, 199);
    }
  
 
  .login_form{
    text-align: center;
    margin-top: 15%;
  
  }
  
  .user{
    background: transparent;
    width: 200px;
    height: 30px;
    color: white;
    font-size: 20px;
    border: 3px solid blueviolet;
    border-radius: 4px;
  
  }
  
  .password{
    background: transparent;
    width: 200px;
    height:30px;
    color: white;
    font-size:20px;
    border: 3px solid blueviolet;
    border-radius: 4px;
  }
  
  .remember{
    background: transparent;
    width:20px;
    height:20px;
    border: 3px solid blueviolet;
  }
  
  .submit{
    background: transparent;
    width:85px;
    height:40px;
    border: 3px solid blueviolet;
    color: white;
    border-radius: 4px;
    font-size: 1.2vw;
    font-weight: bolder;
    opacity: 0.9
  }
  
  .submit:hover{
    color: yellow;
    background-color: blue;
    cursor: pointer;
  }
  
  .label_user{
    color: white;
    font-size: 2vw;
    font-weight: bolder;
    opacity: 0.9
  }
  
  .label_password{
    color: white;
    font-size: 2vw;
    font-weight: bolder;
    opacity: 0.9
  }
  
  .label_remember{
    color: white;
    font-size: 1.2vw;
    font-weight: bolder;
    opacity: 0.9
  }
  
  ._url{
    color: red;
    font-size: 2vw;
    opacity: 0.9;
  }
  
  .title_chat{
    color: yellow;
  }
  
  ._body{
    background-image: url('matrixblue.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center, center;
    background-size: cover;
  }
  
  #textInput {
    background: transparent;
    border: 3px solid blueviolet;
    border-radius: 4px;
    width: 350px;
    height: 40px;
    color: white;
    font-size: 1.2vw;
    font-weight: bolder;
  }
  
  #buttonInput{
    background: transparent;
    border-radius: 4px;
    width:80px;
    height:40px;
    border: 3px solid blueviolet;
    font-size: 1.0vw;
    color: yellow;
    font-weight: bolder;
    opacity: 0.9
  }
  
  .userText {
    color: white;
    font-family: monospace;
    font-size: 1.2vw;
    text-align: right;
    line-height: 30px;
  }
  .userText span {
    background: transparent;
    padding: 10px;
    border-radius: 2px;
  }
  .botText {
    color: yellow;
    font-family: monospace;
    font-size: 1.2vw;
    text-align: left;
    line-height: 30px;
  }
  .botText span {
    background: transparent;
    padding: 10px;
    border-radius: 2px;
  }
  
  .contact_form{
    background-image: url('matrixblue.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center, center;
    background-size: cover;
  }
  
  .logout{
    color: rgb(43, 43, 240);
    margin-top: 23%;
    font-size: 5vw;
  }
  .relogin{
    color: rgb(43, 43, 240);
    font-size: 2vw;
  }
  .relogin:hover{
    color: yellow
  }
  
  .index_logout{
    font-size: 2.5vw;
  }
  .index_logout:hover{
    color: yellow
  }
  
  ._contact{
    text-align: center;
    margin-top: 8%;
  }
  
  .contact_head{
    color: yellow;
    font-size: 3vw;
    font-weight: bolder;
    opacity: 0.9
  }
  
  .contact_name{
    color: white;
    font-size: 1.5vw;
    font-weight: bolder;
  }
  
  ._name{
    background: transparent;
    width: 200px;
    height: 30px;
    color: yellow;
    font-size: 20px;
    border: 3px solid blueviolet;
    border-radius: 4px;
  }
  
  .contact_email{
    color: white;
    font-size: 1.5vw;
    font-weight: bolder;
  }
  
  ._email{
    background: transparent;
    width: 200px;
    height: 30px;
    color: yellow;
    font-size: 20px;
    border: 3px solid blueviolet;
    border-radius: 4px;
  }
  
  .contact_phone{
    color: white;
    font-size: 1.5vw;
    font-weight: bolder;
  }
  
  ._phone{
    background: transparent;
    width: 200px;
    height: 30px;
    color: yellow;
    font-size: 20px;
    border: 3px solid blueviolet;
    border-radius: 4px;
  }
  
  .contact_enquires{
    color: white;
    font-size: 1.5vw;
    font-weight: bolder;
  }
  
  ._enquires{
    background: transparent;
    color: yellow;
    width: 200px;
    height: 200px;
    font-size: 20px;
    border: 3px solid blueviolet;
    border-radius: 4px;
    resize: vertical
  }
  
  .contact_submit:hover{
    color: yellow;
    background-color: blue;
    cursor: pointer
  }
  
  .contact_submit{
    background: transparent;
    width:100px;
    height:40px;
    border: 3px solid blueviolet;
    color: white;
    border-radius: 4px;
    font-size: 1.2vw;
    font-weight: bolder;
  }
  
  .backtochat{
    font-size:2vw
  }
  .backtochat:hover{
    color: yellow;
    font-weight: bolder
  }
  
  .donechatting{
    font-size: 2vw;
  }
  .donechatting:hover{
    color: yellow;
    font-weight: bolder
  }
  
  .after_message{
    margin-top: 20%
  }
  
  ._after{
    margin-top: 5%;
  }
  
  .reg_name{
    color: white;
    font-size: 1.5vw;
    font-weight: bolder;
  }
  
  ._reg_name{
    background: transparent;
    width: 200px;
    height: 30px;
    color: yellow;
    font-size: 20px;
    border: 3px solid blueviolet;
    border-radius: 4px;
  }
  
  .reg_email{
    color: white;
    font-size: 1.5vw;
    font-weight: bolder;
  }
  
  ._reg_email{
    background: transparent;
    width: 200px;
    height: 30px;
    color: yellow;
    font-size: 20px;
    border: 3px solid blueviolet;
    border-radius: 4px;
  }
  
  .reg_pword{
    color: white;
    font-size: 1.5vw;
    font-weight: bolder;
  }
  
  ._reg_pword{
    background: transparent;
    width: 200px;
    height: 30px;
    color: yellow;
    font-size: 20px;
    border: 3px solid blueviolet;
    border-radius: 4px;
  }
  
  
  
  .reg_pword2{
    color: white;
    font-size: 1.5vw;
    font-weight: bolder;
  }
  
  ._reg_pword2{
    background: transparent;
    width: 200px;
    height: 30px;
    color: yellow;
    font-size: 20px;
    border: 3px solid blueviolet;
    border-radius: 4px;
  }
  
  .reg_submit:hover{
    color: yellow;
    background-color: blue;
    cursor: pointer
  }
  
  .reg_submit{
    background: transparent;
    width:110px;
    height:40px;
    border: 3px solid blueviolet;
    color: white;
    border-radius: 4px;
    font-size: 1.2vw;
    font-weight: bolder;
  }
  
  .reg{
    margin-top: 10%;
  }
}

