<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="viewport" content="height=device-height, initial-scale=1.0, user-scalable=yes"> 
    <title>JTCIMA</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="after_contacts">
    <div class="after_message">
        <p>{% for message in get_flashed_messages() %}
            <span style="color:red;font-size: 3vw;font-weight: bold;">{{message}}</span>
            {%endfor%}
        </p>
    </div>
    <br>
    <br>
    <div class="_after">
        <a href="{{ url_for('home') }}" class="backtochat">Back to chat with Cima</a>
        <br>
        <br>
        <br>
        <a href="{{ url_for('logout') }}" class="donechatting">Nah, I'm done chatting!</a>
    </div>
</body>
</html>